.offers-company-page-container h1{
    text-align: center;
}
.offers-company-list-section h2{
    text-align: center;
}
.offers-company-list-section button{
    margin-left: 20px;
    padding: 5px 10px;
    background: rgb(41, 195, 200);
}
.offers-company-list-container{
  list-style: none;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between ;
}
.offerCard-company-container{
    width: 30%;
    border: 5px solid rgb(4, 174, 241);
    border-radius: 10px;
    margin: 10px auto;
    background: rgb(206, 239, 240);
    padding-left: 10px;
    padding-bottom: 5px;
}
.offerCard-company-container-bottom{
    margin
    width: 100/3%;
    background: crimson;
}
.offerCard-company-container-bottom button{
    border: 2px solid  rgb(4, 174, 241);
    border-radius: 10px;
}