.company-offer-details-page-container .offerCard-container{
    width: 40%;
    margin: 20px auto;
    padding-bottom: 10px;
    border: 5px solid rgb(4, 174, 241);
    border-radius: 10px;
    background: rgb(206, 239, 240);
}
.company-offer-details-page-container h1{
    background: rgb(251, 248, 248);
    text-align: center;
    margin-top: 0;
    padding: 20px;
 }
 .offerCard-offer-status{
    margin-bottom: 0; 
    padding-right: 0;
    font-size:20px ;
    font-style: italic;
    font-weight: lighter;
 }
.company-offer-details-page-container .offerCard-details{
    padding-left: 10px;
 }
.company-applications-list-container h2{
    text-align: center;
}
.company-0-application-message{
    text-align: center;
}
.company-applicationCards-container{
  list-style: none;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between ;
}
.company-applicationCard{
    width: 30%;
    border: 5px solid rgb(4, 174, 241);
    border-radius: 10px;
    background: rgb(206, 239, 240);
    margin-top: 20px;
}
.company-applicationCard .studentCard-container-top{
    padding-top: 10px;
    display: flex;
    background: rgb(251, 248, 248);

}
.company-applicationCard .studentCard-container-top img{
    width:100%;
    margin-left: 20px;
    border: 2px solid rgb(251, 248, 248);
    border-radius: 15px;
    
}
.company-applicationCard .studentCard-container-top h3{
    margin-left: 50px;
}
.company-applicationCard .studentCard-student-details{
    margin-left: 20px;
}
.company-applicationCard .application-container{
    padding-left: 20px;
    background: rgb(251, 248, 248) ;
}
.company-applicationCard-bottom{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.company-applicationCard-bottom button{
    flex: 1;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    background: rgb(251, 248, 248) ;
    border: 2px solid rgb(251, 248, 248);
    border-radius: 15px;
}
.company-applicationCard-bottom .like{
    color: rgb(68, 207, 68);
}
.company-applicationCard-bottom .reject{
    color: rgb(192, 43, 43);
}


/* 

.applicationCard-container{
   
.application-card-row{
}
.application-card-row button{
}
.like{
    background-color: rgb(107, 231, 173);
    color: rgb(248, 243, 223);
}
.reject{
    background-color: rgb(235, 65, 43);
    color: rgb(248, 243, 223);
} */