.company-offer-details-page-container .offerCard-container{
    width: 40%;
    margin: 20px auto;
    border: 5px solid rgb(4, 174, 241);
    border-radius: 10px;
    background: rgb(206, 239, 240);
}
.company-offer-details-page-container h1{
    background: rgb(246, 244, 244);
    text-align: center;
    margin-top: 0;
    padding: 20px;
 }
.company-offer-details-page-container .offerCard-details{
    padding-left: 10px;
 }
.company-applications-list-container h2{
    text-align: center;
}
.company-applicationCards-container{
  list-style: none;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between ;
}
.company-applicationCard{
    width: 30%;
    border: 5px solid rgb(4, 174, 241);
    border-radius: 10px;
    background: rgb(206, 239, 240);
    margin-top: 20px;
}

/* 
ul{
  list-style: none;  
}
.offer-details-container {
    width: 30%;
    margin: 0 auto;
}
.applicationCard-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;

}
.applicationCard-container li{
    border: 5px solid rgb(68, 152, 190);
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 10px;
}
.application-card-row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.application-card-row button{
    flex: 1;
    text-align: center;
    padding: 10px 0;
    margin-left: 5px;
}
.like{
    background-color: rgb(107, 231, 173);
    color: rgb(248, 243, 223);
}
.reject{
    background-color: rgb(235, 65, 43);
    color: rgb(248, 243, 223);
} */